<h1>Homepage</h1>

<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/directors">All directors</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/directors/youngest">Youngest director</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/directors/eldest">Eldest director</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/movies">All movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/actors">All actors</a>
  </li>
  
</ul>
